<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <form action="http://127.0.0.1:5000/register" method="POST">
            <p>Hello new user please enter your name and additional information:</p>
            <p>Your Name:<input type="text" name="name"></p>
            <p>Username:<input type="text" name="unr"></p>
            <p>Password:<input type="text" name="pwr"></p>
            <input type="submit">
        </form>
    </body>
</html>